### Practical No.10: Write a Pandas program to implement following operation
### •	to find and drop the missing values from the given dataset

In [1]:
# Name : Deven Makwana J
# Enrollment No : 216270307004

import pandas as pd
df=pd.read_csv('/kaggle/input/nifty50-stock-market-data/KOTAKBANK.csv')
mis=df. isna()
df_clean=df.dropna(axis=0)
print(df)
print(mis)
print(df_clean)

            Date     Symbol Series  Prev Close    Open     High      Low  \
0     2000-01-03   KOTAKMAH     EQ      212.35   220.0   229.35   220.00
1     2000-01-04   KOTAKMAH     EQ      229.35   247.7   247.70   225.25
2     2000-01-05   KOTAKMAH     EQ      246.95   229.0   240.00   227.20
3     2000-01-06   KOTAKMAH     EQ      228.40   235.1   239.00   217.00
4     2000-01-07   KOTAKMAH     EQ      225.90   213.0   219.00   207.85
...          ...        ...    ...         ...     ...      ...      ...
4980  2021-04-26  KOTAKBANK     EQ     1734.20  1740.0  1783.00  1733.30
4981  2021-04-27  KOTAKBANK     EQ     1759.65  1750.0  1762.60  1724.55
4982  2021-04-28  KOTAKBANK     EQ     1750.30  1762.5  1824.00  1754.00
4983  2021-04-29  KOTAKBANK     EQ     1811.45  1825.1  1845.45  1780.55
4984  2021-04-30  KOTAKBANK     EQ     1805.00  1780.0  1802.00  1739.45

         Last    Close     VWAP   Volume      Turnover    Trades  \
0      229.35   229.35   229.13     7086  1.623640e+11       NaN
1      247.70   246.95   244.12    73681  1.798729e+12       NaN
2      228.00   228.40   233.75   105799  2.473093e+12       NaN
3      224.95   225.90   226.84    40202  9.119546e+11       NaN
4      207.85   208.85   209.94    24463  5.135747e+11       NaN
...       ...      ...      ...      ...           ...       ...
4980  1761.85  1759.65  1766.82  3253062  5.747583e+14   94734.0
4981  1753.05  1750.30  1740.41  4533360  7.889887e+14  133983.0
4982  1815.00  1811.45  1798.00  4174599  7.505945e+14  118297.0
4983  1802.60  1805.00  1811.62  3960095  7.174186e+14  148490.0
4984  1743.75  1748.80  1775.65  2621783  4.655364e+14  105233.0

      Deliverable Volume  %Deliverble
0                    NaN          NaN
1                    NaN          NaN
2                    NaN          NaN
3                    NaN          NaN
4                    NaN          NaN
...                  ...          ...
4980           1795465.0       0.5519
4981           2353189.0       0.5191
4982           2170192.0       0.5199
4983           1482157.0       0.3743
4984           1075787.0       0.4103

[4985 rows x 15 columns]
       Date  Symbol  Series  Prev Close   Open   High    Low   Last  Close  \
0     False   False   False       False  False  False  False  False  False
1     False   False   False       False  False  False  False  False  False
2     False   False   False       False  False  False  False  False  False
3     False   False   False       False  False  False  False  False  False
4     False   False   False       False  False  False  False  False  False
...     ...     ...     ...         ...    ...    ...    ...    ...    ...
4980  False   False   False       False  False  False  False  False  False
4981  False   False   False       False  False  False  False  False  False
4982  False   False   False       False  False  False  False  False  False
4983  False   False   False       False  False  False  False  False  False
4984  False   False   False       False  False  False  False  False  False

       VWAP  Volume  Turnover  Trades  Deliverable Volume  %Deliverble
0     False   False     False    True                True         True
1     False   False     False    True                True         True
2     False   False     False    True                True         True
3     False   False     False    True                True         True
4     False   False     False    True                True         True
...     ...     ...       ...     ...                 ...          ...
4980  False   False     False   False               False        False
4981  False   False     False   False               False        False
4982  False   False     False   False               False        False
4983  False   False     False   False               False        False
4984  False   False     False   False               False        False

[4985 rows x 15 columns]
            Date     Symbol Series  Prev Close    Open     High      Low  \
2529  2011-06-01  KOTAKBANK     EQ      441.45   441.1   446.85   439.00
2530  2011-06-02  KOTAKBANK     EQ      441.10   437.8   440.00   429.20
2531  2011-06-03  KOTAKBANK     EQ      432.05   432.0   439.45   432.00
2532  2011-06-06  KOTAKBANK     EQ      435.60   432.3   443.90   432.30
2533  2011-06-07  KOTAKBANK     EQ      442.90   439.4   449.60   439.00
...          ...        ...    ...         ...     ...      ...      ...
4980  2021-04-26  KOTAKBANK     EQ     1734.20  1740.0  1783.00  1733.30
4981  2021-04-27  KOTAKBANK     EQ     1759.65  1750.0  1762.60  1724.55
4982  2021-04-28  KOTAKBANK     EQ     1750.30  1762.5  1824.00  1754.00
4983  2021-04-29  KOTAKBANK     EQ     1811.45  1825.1  1845.45  1780.55
4984  2021-04-30  KOTAKBANK     EQ     1805.00  1780.0  1802.00  1739.45

         Last    Close     VWAP   Volume      Turnover    Trades  \
2529   441.40   441.10   441.84   164679  7.276232e+12    6242.0
2530   433.00   432.05   432.45   617786  2.671604e+13   11664.0
2531   437.25   435.60   436.49   657094  2.868136e+13   15523.0
2532   442.05   442.90   437.84  1083485  4.743945e+13   15113.0
2533   447.95   447.75   447.51  1151133  5.151470e+13   12553.0
...       ...      ...      ...      ...           ...       ...
4980  1761.85  1759.65  1766.82  3253062  5.747583e+14   94734.0
4981  1753.05  1750.30  1740.41  4533360  7.889887e+14  133983.0
4982  1815.00  1811.45  1798.00  4174599  7.505945e+14  118297.0
4983  1802.60  1805.00  1811.62  3960095  7.174186e+14  148490.0
4984  1743.75  1748.80  1775.65  2621783  4.655364e+14  105233.0

      Deliverable Volume  %Deliverble
2529             53108.0       0.3225
2530            295497.0       0.4783
2531            384943.0       0.5858
2532            868166.0       0.8013
2533            804423.0       0.6988
...                  ...          ...
4980           1795465.0       0.5519
4981           2353189.0       0.5191
4982           2170192.0       0.5199
4983           1482157.0       0.3743
4984           1075787.0       0.4103

[2456 rows x 15 columns]

### •	to remove the duplicates from the given dataset

In [2]:
# Name : Deven Makwana J
# Enrollment No : 216270307004

import pandas as pd
df=pd.read_csv('/kaggle/input/employee-dataset/Employee.csv')
df_cleaned=df.drop_duplicates()
print(df)
print(df_cleaned)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]
      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4645    Masters         2017       Pune            2   31  Female          No
4647  Bachelors         2016       Pune            3   30    Male          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4645                          2           0
4647                          2           0
4649                          2           1
4650                          5           1
4651                          2           0

[2764 rows x 9 columns]